[component]
JID=j2j.localhost
Host=localhost
Port=8883
Password=secret

[process]
Pid=/var/run/j2jt/j2jt.pid ; pid file

[database]
Host=localhost
Type=postgres ;or mysql
User=j2j
Name=j2j
Password=db_secret
Prefix=j2j_

[admins]
List=admin1@foo.org,admin2@example.net,admin3@some.net
Registrations_notify=False

[debug]
logfile=/var/log/j2j/j2j.log
registrations=yes
logins=yes

xml_logging=/var/log/j2j/xml.log
component_xml=no
clients_xml=no
clients_jids_to_log=All ;or user1@server,user2@server
